@font-face { 
    font-family: 'Gilroy-Light'; 
    src: url('../fonts/Gilroy-Light.otf'); 
  } 
@font-face { 
    font-family: 'Gilroy-Medium'; 
    src: url('../fonts/Gilroy-Medium.otf'); 
} 
@font-face { 
    font-family: 'Gilroy-Bold'; 
    src: url('../fonts/Gilroy-ExtraBold.otf'); 
} 

.container{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 50px;
    margin: 10px;
  }
  
  #checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
  label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 22px;
  }
  
  label span{
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background: #000;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Medium';
    cursor:default;
}

a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}

/* Cabeçalho */

header{
    display:flex;
    max-width: 1370px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    align-items: center;
}

header h1{
    font-size: 1.25em;
    /* margin: 10px 0 0 80px; */
}

#hamburger{
    display: none;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
}

header nav a{
    font-size:1.25em;
    display: block;
    padding: 0 15px;
}

header nav a:hover{
    color: #969696;
}

.barra input{
    border: 0;
    font-size: 1.25em;
    padding:20px 40px;
    color:#969696;
    background-color: #f2f2f2;
    border-radius: 50px;
    background-image:url(../img/lupa.svg);
	background-position:15px;
    background-repeat:no-repeat;  
    margin:10px;
}

.header-src{
    display: flex;
    align-items: center;
}

header button{
    /* margin: 0 72px 0 24px; */
    /* width: 3.25em;
    height: 3.25em; */
    padding: 20px 20px;
    border: 0;
    background-color: #f2f2f2;
    border-radius: 50px;
    
}

/* main */

.main-content{
    max-width: 1450px;
    margin:0 auto;
    padding:80px 0 160px 0;
}

/* primeira seção */

.prelude-container{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paragrafo h2{
    font-family:'Gilroy-Medium';
    font-size: 6.4em;
    line-height: 104px;
    color: #dadada;
    background: linear-gradient(90deg, rgba(159, 159, 159, 1) 0%, rgba(218, 218, 218, 1) 50%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding-bottom: 12px;

}

.paragrafo p{
    display: flex;
    font-family: 'Gilroy-Light';
    font-size:20px;
    padding: 24px 0px;
    margin-bottom: 50px;
    flex: 2 1 300px;
}

.paragrafo button{
    display: flex;
    width:336px;
    height:84px;
    font-size:20px;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    background-color: transparent;
    border: 1.5px solid;
    font-weight: bold;
    padding: 20px;
    margin: 30px 0;
    border-radius: 10px;
}

.paragrafo button span{
    padding:0px 10px;
}

.paragrafo button img{
    width: 15px;
    margin:0 0 0 10px;
}

#teniselipse{
    display: flex;
    flex:1;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 60px;
}

/* segunda seção */

.carrossel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    /* margin: 100px 0; */
    border-radius: 8px;
}

.carrossel h2{
    margin: 64px 0;
    font-size: 40px;
}

.carrossel > img{
    height: 255px;
    margin: 32px;
}

.carrossel ul{
    display: flex;
}

.carrossel li{
    margin:0 10px;
    line-height: 0;
}

.carrossel li > img:hover{
    opacity:.5;
}

.carrossel span{
    font-size:20px;
}

.carrossel button
{
    width: 336px;
    height:84px;
    font-size:20px;
    background-color: transparent;
    border: 1.5px solid;
    font-weight: bold;
    padding: 20px;
    margin: 64px 0;
    border-radius: 10px;
}

/* 3ª, 4ª e 5ª seções */

.exibit {
    display: flex;
}

.exibit{
    flex:1;
}

.frame{
    flex:1;
    text-align: right;
}

.exibit h2{
    font-family:'Gilroy-Medium';
    font-size: 4em;
    line-height: 66px;
    color: #dadada;
    background: linear-gradient(90deg, rgba(159, 159, 159, 1) 0%, rgba(218, 218, 218, 1) 50%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding-bottom: 12px;
}

.exibit p{
    font-size: 20px;
    font-family: 'Gilroy-Light';
    padding:40px 0;
    line-height: 25px;
}

/* .exibit img{
    padding: 20px 5px;
} */


main .exibit:nth-child(4){
    padding: 160px 0;
}


main .exibit:nth-child(4)img{
    height: 600px;
}

main .exibit:nth-child(4) img:nth-child(1){
    width: 444px;
    margin-right: 8px;
}

main .exibit:nth-child(4) img:nth-child(2){
    width: 252px;
}

/* .exibit img:nth-child(1){
    width:444px;
    height:600px;
} */

.frame > img {
    height: 600px;
    width:704px;
}

.exibit img:nth-child(2){
    height: 600px;
    margin: 0 80px 0 0;
}

.twin-pic{
    display: flex;
}

#ftasd{
    background: url(../img/corra.png);
    height:768px;
    padding: 16px 24px;
    width: 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Gilroy-ExtraBold';
    font-weight: bolder;
    margin: 30px 0;
}

.map_form {
display: flex;
margin: 80px;

}

.map_form div:nth-child(1) img{
    width: 827px;
}

.map_form div:nth-child(2){
    height: 838px;
    background-color: #f3f3f3;
}

.map_form form{
    font-family: 'Gilroy-Medium';
    font-size:20px;
    font-weight: bold;
    padding: 30px;
}

.map_form [type="text"],
.map_form [type="email"],
.map_form textarea
{
    cursor:pointer;
    display: flex;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border:0;
    border-radius: 10px;
}

.agreement input{
    margin-right: 20px;
}

.map_form label{
    align-self: center;
    color: #969696;
    font-family: 'Gilroy-Light';
    font-size: 14px;
    width: 100%;

}

.agreement{
    display: flex;
    width: 100%;
    padding: 20px 0;
    
}

.map_form button{
    cursor:pointer;
    display: flex;
    background-color: transparent;
    width: 100%;
    border: 1.5px solid;
    font-weight: bold;
    padding: 20px;
    margin: 30px 0;
    border-radius: 10px;
    justify-content: center;
}

/* Footer */

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    height: 306px;

}

footer div{
    padding: 20px;
    flex:1;
}


footer div ul{
    line-height: 40px;
}

footer a{
    font-family: 'Gilroy-Light';
}

footer a:hover{
    color: #969696;
}

footer img:hover{
    opacity: .5;
}

footer div:nth-child(2)
footer div:nth-child(3)
footer div:nth-child(4){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer div:nth-child(4) li:nth-child(2) ul{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px){

    .menu-mobile__open{
        display: block;
    }

    body{
        margin: 10px 80px;
    }

    header{
        flex-direction: column;
        justify-content: center;
    }

    header h1{
        font-size:50px;

    }

    nav ul{
        justify-content: center;
        flex-direction: column;

    }

    header nav a{
        padding: 0;
        justify-content: center;    
    }

    header button{
        margin-bottom: 10px;
    }

    .container{
        display: flex;}
    
    .paragrafo{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .paragrafo p{
        flex: 2 1 109px;
    }

    #teniselipse{
        margin:15px 0;
        justify-content: center;
    }

    #teniselipse img{
        width: 352px;
    }

    .carrossel h2{
        display: flex;
        justify-content: center;
        font-size:30px;
        margin: 0 0 64px 0;
    }

    .main-content{
        padding: 80px 0 80px 0;
    }

    .carrossel{
        padding: 30px 0;
    }

    .exibit {
        flex-direction: column;
        align-items: center;
    }

    .exibit img {
        width: 400px;
        height:400px;
    }

    .twin-pic{
        order:2;
    }

    main .exibit:nth-child(4) img:nth-child(1) {
        width: 250px;
  
    }   

    main .exibit:nth-child(4) img:nth-child(2) {
        width: 150px;
        height: 400px;
        margin:0;
  
    }

    #ftasd{
        font-size: 64px;
        width: 100vw;
        max-width: 1450px;
        margin: 0 -80px;
        height: 474px;
    }

    .map_form{
        flex-wrap: wrap;
        margin:0;
    }

    .map_form div:nth-child(1) img{
        width: 100%;
    }

    .map_form div:nth-child(2){
        width: 100%;
        height: auto;
    }

    footer{
        height: auto;
    }

    footer div:nth-child(1){
        min-width: 100%;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

header{
    flex-wrap: nowrap;
    max-width: calc(100vw - 80px);
}

header nav a{
    font-size:1em;
}

header nav ul{
    flex-wrap: nowrap;
}


.prelude-container{
    margin: 0 auto;
    max-width: calc(100vw - 80px);
}
    
#teniselipse{
    margin-right: 0;
}

#teniselipse img{
    width:350px;
    height:350px;
}

.carrossel .main-content{ 
    padding:auto;
}

.main-content{
    max-width: calc(100vw - 80px);
}

.exibit h2{
    font-size: 3.5em;
}

.exibit p{
    font-size:16px;
}

.frame > img{
    height:350px;
    width: 350px;
}

main .exibit:nth-child(4) img:nth-child(1){
    height:350px;
    width:250px;
}

main .exibit:nth-child(4) img:nth-child(2){
    height:350px;
    width:100px;
}

#ftasd{
    height: 630px;
}

.map_form{
    justify-content: space-between;
    align-items: center;
}

.map_form div:nth-child(1) img{
    width:350px;
}

.map_form div:nth-child(2){
    height: auto;
    border-radius:4px;
}

}

@media only screen and (min-width: 1200px) {

    header{
        max-width: calc(100vw - 80px);
    }

    .prelude-container
    {
        max-width: calc(100vw - 80px);
        flex-wrap: nowrap;
    }

    #teniselipse
    {
        margin-right: 0;
    }

    .main-content{
        max-width: calc(100vw - 80px);
    }

    .frame > img{
        width: 588px;
    }

    main .exibit:nth-child(4) img:nth-child(1){
        width: 325px;
        height: 588px;
    }

    main .exibit:nth-child(4) img:nth-child(2){
        width: 191px;
        height: 588px;
    }

    .map_form div:nth-child(1) img {
        width:660px;
    }

    .map_form div:nth-child(2) {
        height: 668px;
    }

    

}
